<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>File System</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="/normalize.css" rel="stylesheet">
    <link href="/blueprint.css" rel="stylesheet">
  </head>
  <body>
    <nav class="pt-navbar .modifier">
      <div class="pt-navbar-group pt-align-left">
        <div class="pt-navbar-heading">Blueprint</div>
        <input class="pt-input" placeholder="Search files..." type="text" />
      </div>
      <div class="pt-navbar-group pt-align-right">
        <button class="pt-button pt-minimal pt-icon-home">Home</button>
        <button class="pt-button pt-minimal pt-icon-document">Files</button>
        <span class="pt-navbar-divider"></span>
        <button class="pt-button pt-minimal pt-icon-user"></button>
        <button class="pt-button pt-minimal pt-icon-notifications"></button>
        <button class="pt-button pt-minimal pt-icon-cog"></button>
      </div>
    </nav>
    <div id="main">
    </div>
    <script type="text/javascript" src="/index.min.js"></script>
  </body>
</html>
